<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Приложение Django {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <li><a href="/about"></a></li>
    <li><a href="/index"></a></li>
    <li><a href="/posts"></a></li>
    <li><a href="/communities"></a></li>
    <main>{% block content %} {% endblock %}</main>
</body>
</html>